[submodule "SO_System"]
	path = SO_System
url=git@gitlab.com:zigame/Games_tools/SO_System_SubModule.git
[submodule "SO_StateMachine"]
	path = SO_StateMachine
url=git@gitlab.com:zigame/Games_tools/so_statemachine.git