[submodule "SO_System_SubModule"]
	path = SO_System_SubModule
	url = git@gitlab.com:zigame/Games_tools/so_statemachine.git
[submodule "so_statemachine"]
	path = so_statemachine
	url = git@gitlab.com:zigame/Games_tools/so_statemachine.git
