[submodule "SO_System_SubModule"]
	path = SO_System_SubModule
	url = git@gitlab.com:zigame/Games_tools/so_statemachine.git
[submodule "SO_SateMachine"]
	path = SO_SateMachine
	url = https://gitlab.com/zigame/Games_tools/so_statemachine.git
